.custom-button {
  background-color: rgba(240, 50, 148, 0.8);
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #2d3748;
  color: white;
}
