.swiper-button-next,
.swiper-button-prev {
  color: #d81b60;
}

.swiper-pagination-bullet {
  background-color: #d81b60;
}

.swiper-pagination-bullet-active {
  background-color: #d81b60;
}
