@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

:root {
  --font-pp-neue-machina: var(--font-pp-neue-machina);
}

body {
  background-color: #4b5563;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fc-ok-icon {
  width: 24px;
  height: 24px;
}
